@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

.fi-logo {
    @apply h-[5rem] !important;
}

.fi-simple-header .fi-logo {
    @apply h-[8rem] !important;
}

.fi-sidebar-item-label {
    @apply text-[#F26513] !important;
}

.fi-sidebar-item-icon {
    @apply text-[#40403F] !important;
}

.fi-section-header-icon {
    @apply text-[#40403F] !important;
}

.fi-ac a {
    @apply bg-[#42708C] !important;
}

.fi-ac button:nth-child(1) {
    @apply bg-[#42708C] !important;
}

.fi-sidebar-item-icon {
    @apply dark:text-[#42708C] !important;
}

.fi-section-header-icon {
    @apply dark:text-[#42708C] !important;
}

.fi-sidebar-item-label {
    @apply dark:text-[#fc760f] !important;
}

.fi-ta-table th {
    @apply bg-[#42708C] !important;
}

.fi-ta-header-cell-label {
    @apply text-[#FFF] !important;
}

.dark\:\[\&\:not\(\:has\(\.fi-ac-action\:focus\)\)\]\:focus-within\:ring-primary-500:focus-within:not(:has(.fi-ac-action:focus)):is(.dark *) {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(66 112 140);
}

.\[\&\:not\(\:has\(\.fi-ac-action\:focus\)\)\]\:focus-within\:ring-primary-600:focus-within:not(:has(.fi-ac-action:focus)) {
    --tw-ring-opacity: 1;
    --tw-ring-color: #8C4014;
}
